.andon {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 16px;
}

.andon th,
.andon td {
  border: 1px solid #000;
  padding: 6px;
  text-align: center;
}

/* Alarm state */
.alarm.on {
  background-color: #ff0000;
  color: #ffffff;
  font-weight: bold;
}

.alarm.off {
  background-color: #86dc98;
  color: #000000;
}
